:root {
	--color-bg: var(--color-neutral-50);

	--color-text-primary: var(--color-neutral-700);
	--color-text-secondary: var(--color-neutral-500);
	--color-text-tertiary: var(--color-neutral-400);
	--color-text-exp: var(--color-emerald-500);
	--color-text-edu: var(--color-sky-500);

	--color-item-primary-bg-rest: var(--color-neutral-200);
	--color-item-primary-bg-hover: var(--color-neutral-300);
	--color-item-primary-bg-active: var(--color-white);

	--color-item-secondary-rest: color-mix(in oklab, var(--color-white) 20%, transparent);
	--color-item-secondary-hover: color-mix(in oklab, var(--color-white) 32%, transparent);
	--color-item-secondary-active: color-mix(in oklab, var(--color-white) 44%, transparent);

	--color-item-ghost-rest: transparent;
	--color-item-ghost-hover: color-mix(in oklab, var(--color-white) 40%, transparent);
	--color-item-ghost-active: color-mix(in oklab, var(--color-white) 55%, transparent);

	--color-link-underline-default: var(--color-text-tertiary);
	--color-link-underline-active: var(--color-text-secondary);

	--color-control-bg: color-mix(in oklch, var(--color-white) 20%, transparent);
	--color-control-stroke: color-mix(in oklch, var(--color-white) 30%, transparent);

	--color-button-primary-label: var(--color-text-primary);
	--color-button-primary-icon: var(--color-text-secondary);
	--color-button-primary-bg: var(--color-neutral-200);
	--color-button-primary-bg-hover: var(--color-neutral-300);

	--color-section-devider: var(--color-neutral-200);

	--color-cvsection-bg-default: transparent;
	--color-cvsection-bg-change: var(--color-neutral-100);
	
	--color-cvitem-bg: var(--color-white);
	--color-cvitem-exp-badge-bg: var(--color-emerald-100);
	--color-cvitem-edu-badge-bg: var(--color-sky-100);

	--color-surface-bg: var(--color-white);
	--color-surface-bg-hover: var(--color-neutral-50);

	--color-modal-backdrop: rgb(0 0 0 / 60%);

	--color-toast-success-icon: var(--color-emerald-600);
	--color-toast-error-icon: var(--color-orange-600);
}
