:root {
	--font-sans: var(--ppNeueMontreal), sans-serif;

	--font-mono: var(--ppNeueMontrealMono), monospace;

	--font-size-xs: 0.75rem;
	--line-height-xs: 130%;
	--letter-spacing-xs: 0;

	--font-size-sm: 0.875rem;
	--line-height-sm: 140%;
	--letter-spacing-sm: 1%;

	--font-size-md: 1rem;
	--line-height-md: 150%;
	--letter-spacing-md: 2%;

	--font-size-lg: 1.125rem;
	--line-height-lg: 130%;
	--letter-spacing-lg: 0;

	--font-size-xl: 1.25rem;
	--line-height-xl: 140%;
	--letter-spacing-xl: 0;

	--font-size-2xl: 1.5rem;
	--line-height-2xl: 130%;
	--letter-spacing-2xl: 0;

	--font-size-3xl: 1.875rem;
	--line-height-3xl: 120%;
	--letter-spacing-3xl: 0;

	--font-size-4xl: 2.25rem;
	--line-height-4xl: 110%;
	--letter-spacing-4xl: 0;

	--font-size-5xl: 3rem;
	--line-height-5xl: 100%;
	--letter-spacing-5xl: 0;
}
