@import "tailwindcss";

@layer base {
	:root {
		color-scheme: light;
	}
}

@theme {
	/* Fonts */
	--font-sans: var(--font-instrument-sans), sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	/* Colors */
	--color-bg: var(--color-black);
	--color-bg-elevated: var(--color-neutral-300);

	--color-surface: var(--color-white);

	--color-text-primary: var(--color-neutral-950);
	--color-text-secondary: var(--color-neutral-800);
	--color-text-tertiary: var(--color-neutral-600);
	--color-text-quaternary: var(--color-neutral-500);

	--color-button-primary-label: var(--color-text-primary);
	--color-button-primary-bg: var(--color-white);
	--color-button-primary-bg-hover: var(--color-neutral-200);
	--color-button-primary-bg-active: var(--color-neutral-400);

	/* --color-button-secondary-label: var(--color-text-secondary);
	--color-button-secondary-bg: var(--color-white);
	--color-button-secondary-bg-hover: var(--color-neutral-100);
	--color-button-secondary-bg-active: var(--color-neutral-200); */

	--color-badge-experience-bg: var(--color-emerald-200);
	--color-badge-education-bg: var(--color-sky-200);

	--color-footer-bg: var(--color-bg);
	--color-footer-text-primary: var(--color-neutral-50);
	--color-footer-text-secondary: var(--color-neutral-200);
	--color-footer-text-tertiary: var(--color-neutral-400);

	/* Layout*/
	--padding: 16px;
	--whitespace: 16px;
	--columns: 4;
	--gap: 28px;
}

@layer components {
	h1 {
		font-size: 24px;
		line-height: 135%;
		font-weight: 500;
	}

	h2 {
		font-size: 24px;
		line-height: 135%;
		font-weight: 500;
	}

	h3 {
		font-size: 20px;
		line-height: 100%;
		font-weight: 400;
	}

	h4 {
		font-size: 18px;
		line-height: 100%;
		font-weight: 500;
	}

	h5 {
		font-size: 16px;
		line-height: 100%;
		font-weight: 400;
	}

	h6 {
		font-size: 16px;
		line-height: 100%;
		font-weight: 600;
		white-space: nowrap;
		text-transform: uppercase;
		letter-spacing: 0;
	}

	.p-md {
		font-size: 18px;
		line-height: 150%;
		font-weight: 400;
	}

	.p-number {
		font-size: 18px;
		line-height: 125%;
		font-weight: 500;
		font-feature-settings: "tnum";
	}

	.label-md {
		font-size: 18px;
		line-height: 100%;
		font-weight: 500;
	}

	.layout-grid {
		display: grid;
		grid-template-columns: var(--padding) var(--whitespace) repeat(calc(var(--columns) - 1), 1fr var(--gap))1fr var(--whitespace) var(--padding);
		gap: 0;
	}

	@media (width >=80rem) {
		:root {
			--padding: 32px;
			--whitespace: 76px;
			--columns: 12;
			--gap: 32px;
		}

		h1 {
			font-size: 28px;
			line-height: 125%;
		}

		h2 {
			font-size: 28px;
			line-height: 125%;
		}

		h4 {
			font-size: 13px;
		}

		h6 {
			font-size: 13px;
		}

		.layout-grid {
			grid-template-columns: repeat(var(--columns), 1fr);
			column-gap: var(--gap);
		}
	}
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-black);
		--foreground: var(--color-neutral-900);

		--bg-footer: var(--color-black);

		--text-primary: var(--color-white);
		--text-secondary: var(--color-neutral-100);
		--text-tertiary: var(--color-neutral-400);
		--text-quaternary: var(--color-neutral-600);
		--text-inverted: var(--color-black);
	}
} */