.header {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.title {
	max-width: 20ch;
	font-size: var(--font-size-5xl);
	line-height: var(--line-height-5xl);
	letter-spacing: var(--letter-spacing-5xl);
	font-weight: 600;
	color: var(--color-text-primary);
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.tag {
	padding: 4px 10px;
	border-radius: var(--radius-full);
	background-color: var(--color-item-primary-bg-rest);
	font-family: var(--font-mono);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-xs);
	letter-spacing: var(--letter-spacing-xs);
	color: var(--color-text-secondary);
}
