.footer {
	width: 100%;

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;

		.meta {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			color: var(--color-text-tertiary);
			font-size: var(--font-size-xs);
			line-height: var(--line-height-xs);
			letter-spacing: var(--letter-spacing-xs);
		}

		.actions {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
	}
}
