@use "../../styles/breakpoints" as bp;

.header {
	width: 100%;
	position: fixed;
	top: 0;
	padding-top: 60px;
	z-index: 50;

	@media (width <= bp.$breakpoint-sm) {
		padding-top: max(8rem, env(safe-area-inset-top));
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}
}

