.footer {
	margin-top: auto;
	width: 100%;
	max-width: 36rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background-color: var(--color-segment-bg);
	padding-inline: 1.75rem;
	padding-block: 2.5rem;
	margin-bottom: 0.25rem;
	border-radius: var(--radius-lg);
}

.linksRow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	color: var(--color-text-secondary);
}

.linksWrap {
	display: flex;
	flex-wrap: wrap;
}

.bottomRow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.meta {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	color: var(--color-text-tertiary);
	font-size: 0.75rem;
}
