.header {
	position: sticky;
	width: 100%;
	max-width: 36rem;
	margin-inline: auto;
	top: 0;
	padding-inline: 1.75rem;
	padding-top: max(8rem, env(safe-area-inset-top));
	padding-bottom: 3.5rem;
	z-index: 50;
	border-radius: var(--radius-lg);
}

.blur {
	position: absolute;
	inset: 0;
	height: 100%;
	pointer-events: none;
}

.inner {
	position: relative;
	max-width: 32rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 2.75rem;
	z-index: 10;
}

.logoButton {
	height: 2.75rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}
