.page{
	width: 100%;
	max-width: var(--max-width);

	.intro {
		padding: 1rem;
		margin-bottom: 4rem;
		font-size: var(--font-size-md);
		line-height: var(--line-height-md);
		color: var(--color-text-primary);
		letter-spacing: var(--letter-spacing-md);
		font-weight: 500;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	
		.greeting{
			color: var(--color-text-tertiary);
		}
	}
}


