.page{
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	flex-direction: column;

	.intro {
		padding: 1rem;
		border-radius: var(--radius-lg);
		font-size: var(--font-size-md);
		line-height: var(--line-height-md);
		color: var(--color-text-primary);
		font-weight: 500;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	
		.greeting{
			color: var(--color-text-tertiary);
		}
	}
}


