.item {
	position: relative;
	padding: 0 0 8px 0;

	[data-variant="experience"] & {
		.timeWrapper {
			color: var(--color-text-exp);
			background-color: var(--color-cvitem-exp-badge-bg);
		}
	}

	[data-variant="education"] & {
		.timeWrapper {
			color: var(--color-text-edu);
			background-color: var(--color-cvitem-edu-badge-bg);
		}
	}

	.header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		margin-bottom: 16px;

		:first-child {
			color: var(--color-text-tertiary);
			font-weight: 400;

			strong {
				color: var(--color-text-secondary);

			}
		}

		.organization {
			font-size: var(--font-size-sm);
			font-weight: 400;
		}

		.timeWrapper {
			font-family: var(--font-mono);
			padding: 4px 8px;
			border-radius: 8px;
			font-size: var(--font-size-xs);
			letter-spacing: -5%;
			line-height: 100%;
			font-variant-numeric: tabular-nums;
			font-weight: 500;
		}
	}

	.rolesWrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.roleWrapper {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			gap: 16px;

			.roleTitle {
				font-size: var(--font-size-md);
				line-height: var(--line-height-md);
				font-weight: 500;
				color: var(--color-text-primary);
				text-align: left;
				text-wrap: balance;
			}

			.time {
				font-family: var(--font-mono);
				text-align: right;
				white-space: nowrap;
				font-size: var(--font-size-xs);
				line-height: var(--line-height-xs);
				letter-spacing: -5%;
				font-weight: 400;
				color: var(--color-text-secondary);

				.yearShort {
					display: none;
				}

				@media (max-width: 419px) {
					.yearFull {
						display: none;
					}

					.yearShort {
						display: inline;
					}
				}
			}

		}
	}
}
