@use "../../styles/breakpoints" as bp;

.item {
	position: relative;
	// padding: 24px;
	// border-radius: var(--radius-2xl);
	// background-color: var(--color-cvitem-bg);

	[data-variant="experience"] & {
		.timeWrapper {
			color: var(--color-text-exp);
			background-color: var(--color-cvitem-exp-badge-bg);
		}
	}

	[data-variant="education"] & {
		.timeWrapper {
			color: var(--color-text-edu);
			background-color: var(--color-cvitem-edu-badge-bg);
		}
	}

	.header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		margin-bottom: 24px;

		.titleWrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;

			.organization {
				color: var(--color-text-primary);
				font-size: var(--font-size-md);
				line-height: 100%;
				font-weight: 500;
				min-width: 0;
				flex-shrink: 0;
				white-space: nowrap;

				.orgFull,
				.orgShort {
					flex-shrink: 0;
					white-space: nowrap;
				}

				.orgShort {
					display: none;
				}

				@media (max-width: bp.$breakpoint-sm) {
					.orgFull {
						display: none;
					}

					.orgShort {
						display: inline;
					}
				}
			}

			.location {
				color: var(--color-text-secondary);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				min-width: 0;
			}
		}

		.timeWrapper {
			font-family: var(--font-mono);
			padding: 4px 8px;
			border-radius: 8px;
			font-size: var(--font-size-xs);
			letter-spacing: -5%;
			line-height: 100%;
			font-variant-numeric: tabular-nums;
			font-weight: 500;
			white-space: nowrap;
			flex-shrink: 0;
		}
	}

	.rolesWrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.roleWrapper {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.time {
				white-space: nowrap;
				font-size: var(--font-size-sm);
				line-height: 100%;
				letter-spacing: 1%;
				font-weight: 400;
				color: var(--color-text-tertiary);

				.yearShort {
					display: none;
				}

				@media (max-width: bp.$breakpoint-xs) {
					.yearFull {
						display: none;
					}

					.yearShort {
						display: inline;
					}
				}
			}

			.roleTitle {
				font-size: var(--font-size-md);
				line-height: var(--line-height-md);
				font-weight: 500;
				color: var(--color-text-primary);
				text-align: left;
				text-wrap: balance;
			}

			
		}
	}
}
